*.bak
*.elc
*~
.#recentf
.cache/*
.cask
.org-id-locations
.python-environments
abbrev_defs
auto-save-list
backup
backups
bookmarks
el-get
elpa
eshell
eudc-options
flycheck_init.el
games/*
history
image-dired
init-gnus.el
irony
network-security.data
org-clock-save.el*
personal.el
pkgs
places
recentf
savefile
server/*
session*
smex-items
speed-type/*
tramp
url/*
