*.bak
*.elc
*~
.cask
.org-id-locations
.python-environments
.smex-items
auto-save-list
backup
backups
bookmarks
el-get
elpa
eshell
history
image-dired
irony
network-security.data
personal.el
pkgs
places
recentf
savefile
session*
tramp
abbrev_defs